HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=79f04b6a-679c-420b-adc0-63e8109280ca
BAGS_API_KEY=bags_prod_fF-R58KbCAZWPDO2oJBAoTiWbjgICHp3w1xjJXzxLYU
SUPABASE_URL=https://rhrmhortnhrzevwroulh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJocm1ob3J0bmhyemV2d3JvdWxoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk0OTc5MCwiZXhwIjoyMDgyNTI1NzkwfQ.G4EtmaeorhggbOBYqvmE9Ojki6UkwhX1RJCEPrRyXPM
PORT=3001
